@font-face {
  font-family: 'KoPubWorldDotum';
  src: url(../fonts/KoPubWorldDotumBold.woff) format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'KoPubWorldDotum';
  src: url(../fonts/KoPubWorldDotumLight.woff) format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'KoPubWorldDotum';
  src: url(../fonts/KoPubWorldDotumMedium.woff) format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'NotoSansKR';
  src: url(../fonts/NotoSansKR-Bold.woff) format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'NotoSansKR';
  src: url(../fonts/NotoSansKR-Light.woff) format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'NotoSansKR';
  src: url(../fonts/NotoSansKR-Regular.woff) format('woff');
  font-weight: 400;
  font-style: normal;
}

